* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.site-container {
  display: table;
  min-height: 100%;
  width: 100%;
}

.site-container--left,
.site-container--right {
  min-height: 100%;
  display: table-cell;
  vertical-align: top;
}

.site-container--left {
  width: 70%;
}

.site-container--right {
  width: 30%;
  padding: 0 20px;
}

.keyboard-container {
  border-bottom: 1px solid #dfdfdf;
}

.keyboard-container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.keyboard--layer {
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  width: 800px;
}

.keyboard--layer--remove {
  font-size: 16px;
  padding: 5px 8px !important;
  position: absolute;
  top: 17px;
  right: 20px;
}

.keyboard {
  text-align: center;
  margin-bottom: 20px;
  border: 10px solid #90fef9;
  background-color: #90fef9;
  border-radius: 5px;
}

.keyboard--key--container {
  display: inline-block;
  position: relative;
}

.keyboard--key--container__toggle:after,
.keyboard--key--container__momentary:after {
  content: '';
  position: absolute;
  display: block;
  top: -1px;
  right: -9px;
  z-index: 6;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  transform: rotate(45deg);
}

.keyboard--key--container__toggle:after {
  border-bottom-color: #e3d59c;
}

.keyboard--key--container__momentary:after {
  border-bottom-color: #e79797;
}

.keyboard--key--container__100 {
  width: 7.84%;
}

.keyboard--key--container__125 {
  width: 9.8%;
}

.keyboard--key--container__150 {
  width: 11.76%;
}

.keyboard--key--container__175 {
  width: 13.72%;
}

.keyboard--key--container__200 {
  width: 15.68%;
}

.keyboard--key--container__225 {
  width: 17.64%;
}

.keyboard--key {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  color: #90fef9;
  border: 1px solid #000;
  background-color: #83817f;
  width: 100%;
  height: 50px;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.keyboard--key:hover,
.keyboard--key:focus {
  background-color: #90fef9;
  color: #3d3d39;
}

.keyboard--key:focus {
  outline: none;
  box-shadow: inset 0 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 5px 2px #90fef9;
  z-index: 5;
  position: relative;
}

.keyboard--key__secondary {
  background-color: #3d3d39;
}

.context-menu {
  position: absolute;
  border: 1px solid #83817f;
  background-color: #fff;
  width: 200px;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 3px 3px 0 #83817f;
}

.context-menu--select {
  padding: 10px;
  border-bottom: 1px solid #83817f;
}

.context-menu--select--label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.context-menu--select--select {
  display: block;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #83817f;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
}

.button {
  background-color: #90fef9;
  color: #3d3d39;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.button__secondary {
  background-color: #3d3d39;
  color: #90fef9;
}
