<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MiniVan Keyboard Layout Configurator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <script src="https://use.fontawesome.com/8d7e1df088.js"></script>
  </head>
  <body v-on:click="hideContextMenu">
    <div id="container">
      <form name="keyboard-form" id="keyboard-form" action="" method="post" enctype="multipart/form-data">
        <div v-for="(keyboardIndex, keyboard) in template" class="keyboards">
          <div class="keyboard--layer">
            <h2 v-if="keyboardIndex == 0">Base Layer</h2>
            <h2 v-else>
              Layer {{ keyboardIndex - 1 }}
              <a v-on:click="removeLayer($event, keyboard, keyboardIndex)" class="keyboard--layer--remove button button__error"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </h2>

            <p></p>

            <div class="keyboard">
              <div v-for="(rowIndex, row) in layout" class="row">
                <div
                  v-for="(keyIndex, key) in row"
                  v-bind:class="keyContainerClasses(key, keyboard[rowIndex][keyIndex])"
                  v-on:contextmenu="showContextMenu"
                >
                  <input
                    class="keyboard--key keyboard--key__{{ key.type }}"
                    name="L3"
                    type="text"
                    v-model="keyboard[rowIndex][keyIndex].value"
                    v-on:focus="focusKey(keyboard[rowIndex][keyIndex], $event)"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <p class="center">
          <a v-on:click="addLayer" class="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add layer</a>
          <a v-on:click="addLayer" class="button button__secondary"><i class="fa fa-cloud-download" aria-hidden="true"></i> Make .hex!</a>
        </p>
      </form>
    </div>

    <div class="context-menu" v-if="contextMenuVisible" v-bind:style="{ top: contextMenuPosition.top + 'px', left: contextMenuPosition.left + 'px' }">
      <div class="context-menu--select">
        <label class="context-menu--select--label">
          Character:
          <select class="context-menu--select--select" v-model="activeKey.value">
            <option v-for="allowedCharacter in allowedCharacters" v-bind:value="allowedCharacter">{{ allowedCharacter }}</option>
          </select>
        </label>
      </div>

      <div class="context-menu--select">
        <label class="context-menu--select--label">
          Type:
          <select class="context-menu--select--select" v-model="activeKey.type">
            <option v-for="buttonType in buttonTypes" v-bind:value="buttonType.id">{{ buttonType.name }}</option>
          </select>
        </label>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script src="assets/js/layouts.js"></script>
    <script src="assets/js/templates.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>