* {
  box-sizing: border-box;
}

html {
  background: rgb(35, 36, 38);
}

#container {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  background: rgb(57, 58, 55);
  color: rgb(113, 247, 209);
}

.keyboard {
  margin-bottom: 20px;
  text-align: center;
  /*border: 1px solid red;*/
}

.keyboard--key--container {
  display: inline-block;
  position: relative;
}

.keyboard--key--container__toggle:after,
.keyboard--key--container__momentary:after {
  content: '';
  position: absolute;
  display: block;
  top: -15px;
  right: 0;
  z-index: 1;

  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid red;
  transform: rotate(45deg)
}

.keyboard--key--container__100 {
  width: 7.84%;
}

.keyboard--key--container__125 {
  width: 9.8%;
}

.keyboard--key--container__150 {
  width: 11.76%;
}

.keyboard--key--container__175 {
  width: 13.72%;
}

.keyboard--key--container__200 {
  width: 15.68%;
}

.keyboard--key--container__225 {
  width: 17.64%;
}

.keyboard--key {
  text-transform: uppercase;
  text-align: center;
  padding: 0 5px;
  color: rgb(113, 247, 209);
  border: 1px outset black;
  background-color: rgb(35, 36, 38);
  width: 100%;
  height: 50px;
}

.keyboard--key:hover,
.keyboard--key:focus {
  background-color: rgb(57, 58, 55);
}

.keyboard--key:focus {
  outline: none;
  box-shadow: 0 0 5px 2px black;
  z-index: 5;
  position: relative;
}

#key-list {
  position: absolute;
  border: 1px solid black;
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: none;
}